In [92]:
import pandas as pd
import numpy as np 
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [85]:
df = pd.read_csv('Social_Network_Ads.csv')

In [86]:
df.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [98]:
x=df[['Age']]
y=df['Purchased']

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2 , random_state=1)

In [99]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [101]:
y_pred = lr.predict(x_test)

In [102]:
from sklearn.metrics import confusion_matrix

In [104]:
con = confusion_matrix(y_test,y_pred)
con

array([[42,  6],
       [ 8, 24]], dtype=int64)

In [106]:
score = lr.score(x_test, y_test)